
.mainnav.scrolled {
  background: rgba(45, 90, 191, 0.91) !important;
  transition: background 200ms linear;
}

.mainnav {
background: rgba(45, 90, 191, 0.41) !important;  
transition: background 200ms linear; 
color: #000000 !important;
margin-bottom: 10px;
}


.portfolio-item {
    background: #a6c0e0;
	padding: 4%;
	margin: 1%;
}
.portfolio-text {
 width: 100%;
 overflow: hidden;
 text-overflow: ellipsis;
}
.imgcontainer {	
	width:100%;
}

.price-item {
	
    background: #a6c0e0;
    margin: 2%;
	padding: 2%;

}
.mynavbar {
    padding: 7px;
	background: #b0c4de59;
}
.mycontent {
	background: #b0c4de59;
}

.addbtn {
	margin: 10px;
}
.space {
	height:50px;
	width:100%;
}
.footer {

  background:  lightsteelblue;
}
.myform {
	margin-top:10px;
    margin-bottom:10px;
}
.filename {
     background: #fff;
     border: 0;
}
.pimg {
	padding:2px;
	height: 100px;
}
.pimg img {
    width:auto;
	height:100%;
}

.order-item {
    width: 100%;
    background: #a6c0e0;
    margin: 2px;
	padding: 2%;

}
.oimg {
    width: 10%;
	height:auto;
	position:relative;
	float:left;
}
.order-text {
 height: auto;
 width: 100%;
 overflow: hidden;
 text-overflow: ellipsis;
}
.stock-img {
	height: 100px;
	width: auto;
}
.stock-img img {
	padding: 5px;
	height: 100%;
	width: auto;
}
.formwidth {
	width:40px;
}
.slideritem {
  height: 250px;
  margin: 5%;
  overflow: hidden;
}
.carousel-item {
	  overflow: hidden;
	background: #a6c0e0;
	
	
}
#mainerrors {
	display: none;
}
#contactserrors {
	display: none;
}
#stockserrors {
	display: none;
}
.btnprice {
	border: none;
}
.mynav {
	
}

  
  
  


.loading {
	display: none;
    -moz-animation-name: spin;
    -moz-animation-duration: 1000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    -webkit-animation-name: spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

 
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}