body {
	color: #357ecc;
  background: url('/img/bg.jpg') no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    background-color: #000;
}
.backwhite {
  background: #fff;
}
.mainblock {
  min-height: 92vh;
}
hr {
    border: none; /* Убираем границу для браузера Firefox */
    color: #357ecc; /* Цвет линии для остальных браузеров */
    background-color: #357ecc; /* Цвет линии для браузера Firefox и Opera */
    height: 5px; /* Толщина линии */
    width: 50px;
}

.light {
  background: #fff;
  color: #357ecc;
}

.description {
  color: #fff;
  font-size: 20px;
}
.title {
  color: #fff;
  font-size: 48px;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif
}

@media (max-width: 576px) {
 .title {
  font-size: 25px;
 }
 .description {
  font-size: 15px;
 }
}

.price-title {
  font-size: 25px;
}
.price {
  color: #357ecc;
}


.h {
  height: 250px;
}
.navbar-text {
color: #ffffff !important;
}

.portfolio-item {
	width: 46%;
    background: #a6c0e0;
    margin: 2%;
	padding: 2%;
}
.portfolio-text {
 height: 100px;
 width: 100%;
 overflow: hidden;
 text-overflow: ellipsis;
}
.price-item {
	
    background: #a6c0e0;
    margin: 2%;
	padding: 2%;

}
.imgcontainer {	
	width:100%;
	height: 150px;
}
.imgcontainer img {
	width: auto;
	height: auto;
	max-height: 100%;
	max-width: 100%;
}

.mycontent {
	padding: 7px;
	background: #b0c4de59;
}

.addbtn {
	margin: 10px;
}

.footer {
  background:  #343a40;
}

.myform {
	margin-top:10px;
    margin-bottom:10px;
}
.filename {
     background: #fff;
     border: 0;
}
.pimg {
	padding:2px;
	height: 100px;
}
.pimg img {
    width:auto;
	height:100%;
}

.order-item {
    width: 100%;
    background: #a6c0e0;
    margin: 2px;
	padding: 2%;

}
.oimg {
    width: 10%;
	height:auto;
	position:relative;
	float:left;
}
.order-text {
 height: auto;
 width: 100%;
 overflow: hidden;
 text-overflow: ellipsis;
}
.stock-img {
	height: 100px;
	width: auto;
}
.stock-img img {
	padding: 5px;
	height: 100%;
	width: auto;
}


.stock-desc {
  font-size: 25px;
}

@media (max-width: 768px) {
  .stock-title {
    font-size: 20px;
  }
  .stock-desc {
  font-size: 16px;
  }
}


.formwidth {
	width:40px;
}
.slideritem {
  height: 250px;
  margin: 5%;
  overflow: hidden;
}
.carousel-item {
  overflow: hidden;
  background: #649cd8;	
  color: white;
}
#mainerrors {
	display: none;
}
#contactserrors {
	display: none;
}
#stockserrors {
	display: none;
}



.blockquote {
  color:#000;
}
.blockquote-footer {
  color: #649cd8;
}


.contacts a {
  letter-spacing: 10px;  
  color: #357ed2;
}
.contacts a:hover {
  color: #3693ff;
}




.footer .btn-link {
  color: #6c757d;
}
.footer .btn-link:hover {
  color: #545b62;
}

.btn-outline-primary {
   color: #357ed2;
   background-color: transparent;
   background-image: none;
   border-color: #357ed2;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #357ed2;
    background-image: none;
    border-color: #357ed2;
}


.btn-outline-primary:focus {
    box-shadow: #357ed2;
}
.btn-outline-primary:active {
    color: #fff;
    background-color: #357ed2;
    border-color: #357ed2;
    box-shadow: #357ed2;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, 
.btn-outline-primary:not(:disabled):not(.disabled):active, 
.show>.btn-outline-primary.dropdown-toggle {
   color: #000;
   background-color: #357ed2;
   border-color: #357ed2;
   box-shadow: #357ed2;
}



.navbar-light {
  transition: background-color 0.5s linear;
}
.navbar-dark {
   transition: background-color 0.5s linear;
}

/* НЕ мудри так как меняются сами классы переход между ними не сделать
Так что.... длеай изменения внутри классов при скролле*/

.navbar-light .navbar-nav .nav-link {
    color: #357ecf;
    font-weight: bold;
    transition: color 0.5s linear;
}
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: bold;
    transition: color 0.5s linear;
}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #357ecf;
    font-weight: bold;
}


.bg-dark {
    background-color: #ffffff00 !important;
}












.loading {
  display: none;
    -moz-animation-name: spin;
    -moz-animation-duration: 1000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    -webkit-animation-name: spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

 
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

